.cards {
  width: 350px;
  height: 250px;
  border: 3px solid black;
  margin: 20px;
}
.mainContainerScrollbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 144px);
  overflow: auto;
}
